name: Testing countrycity
on: [push]
jobs:
  build:
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macOS-latest]
        php-versions: [7.2, 7.3, 7.4]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set up php and composer
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php-versions }}        
          extension-csv: 'mbstring'
          ini-values-csv: 'pcov.directory=api'
          coverage: 'pcov'
      - name: Install dependencies
        run: composer install --no-progress --no-suggest --prefer-dist
      - name: Test with phpunit
        run: vendor/bin/phpunit --coverage-clover build/logs/clover.xml --coverage-text
      - name: coveralls
        run: sh -c php vendor/bin/php-coveralls -v
      - name: codecov-umbrella
        run: curl -s https://codecov.io/bash | bash -s -- -t ${{secrets.CODECOV_TOKEN}} -f build/logs/clover.xml -n github-actions-codecov