name: Tests
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['7.4', '8.0', '8.1']
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up php and composer
        uses: shivammathur/setup-php@develop
        with:
          php-version: ${{ matrix.php-versions }}        
          extensions: iconv, json, mbstring
          ini-values: pcov.directory=api
          coverage: pcov
          tools: composer:v2
      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --ignore-platform-reqs
      - name: Test with phpunit
        run: vendor/bin/phpunit --coverage-clover build/logs/clover.xml --coverage-text
      - name: Send Coverage
        continue-on-error: true
        timeout-minutes: 1
        run: curl -s https://codecov.io/bash | bash -s -- -t ${{secrets.CODECOV_TOKEN}} -f build/logs/clover.xml -n github-actions-codecov-${{ matrix.operating-system }}-php${{ matrix.php-versions }}
        